*:not(#price:*) {
  user-select: none;
}

body {
  margin: 0
}

canvas {
  position: absolute;
  top: 20vh;
  width: inherit;
  height: inherit;
}

#info_price {
  z-index: 9999;
  position: absolute;
  left: 40%;
  top: 30%;
  color: #52c4fa;
  font-weight: bold;
  visibility: hidden;
}

#parent_of_canvas {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(2vw);
  padding-top: 100px;
  margin: 5px;
  height: 75vh;
  width: 70vw;
  position: absolute;
  top: 5%;
  left: 25%;
}

#info_date {
  position: absolute;
  color: white;
  top: 25%;
  left: 40vw;
  visibility: hidden;
}

#search_engine > input[type=text] {
  border-radius: 4px;
  border: 1px solid grey;
  position: fixed;
  margin: 15px calc(1vw);
  padding: 7.5px calc(2.5vw);
  z-index: -1;
  width: calc(17vw);
}

#search_engine > #search_icon {
  position: fixed;
  top: 3.5%;
  left: 1.5%;
  color: grey;
  font-weight: normal;
}

 #search_engine > #deletebutton {
  border: none;
   
   border-radius: 50%;
   background-color: rgba(122, 121, 125, 0.6);

   width: 17.5px;
   height: 17.5px;
   position: fixed;
   left: 21%;
   top: 3.5%;

  
}

#deletebutton:before {
   display: inline-block;
   margin-top: -3.5px;
   margin-left: -2.75px;
   font-weight: thin;
  font-size: 20px;

  color: rgba(83, 81, 86, 0.8); 
  content: "\00d7";
}

input[type=text]:focus-visible {
  outline: 3px solid rgba(59, 106, 180, 255);
}

input[type=text]:not(:placeholder-shown)+#deletebutton {
  display: block;
}
input[type=text]:empty+#deletebutton {
  display: none;
}

#price {
  float: right;
  position: absolute;
  right: 4vw;
  top: 1.5vh;
}

#dollar {
  font-size: 2em;
  margin-right: 40px;
  color: white;
}

#percent {
  margin-bottom: calc(0.75vh);
}

#meta_element>#range {
  position: absolute;
  top: 10%;
  left: 0;
  font-weight: bolder;
  font-size: calc(2vw);
  text-align: center;
  margin: 10px;
}

#range>button {
  margin: calc(1vh) calc(1vw);
  border-radius: 25%;
  background-color: black;
  width: 3.25vw;
  color: white;
  border: none;
  font-weight: bold;
  padding: calc(2vh) calc(1vh);
  min-width: min-content;
}

#meta_element>#name {
  position: absolute;
  top: 2.5vh;
  left: 5vw;
}

#name>h2 {
  color: white;
  font-size: 2.25em;
  display: inline;
}

#name>h4 {
  margin-left: calc(2vw);
  display: inline;
  color: grey;
}

#range > hr {
  width: 71.5vw;
  margin: 0;
  color: white;
}
#left_area > .vertical_line{
  border-left: 3px solid yellow;
  height: 200vh;
  position: fixed;
  left: 25%;
  top: 0%;
}
#left_area > #bottom_section
{
  position: fixed;
  bottom: 0vh;
  left: 0vw;
  width: 25vw;
  height: 5vh;
  background-color: rgba(66,62,70,0.95);
  display: flex;
  align-items: center;
}

#bottom_section > #market_status{
color: rgba(144,133,138,1);
position: absolute;
right: 5%;
font-family: sans-serif;
text-transform: capitalize;
}
#bottom_section > #current_time{
  color: rgba(144,133,128,1);
  position: absolute;
  font-family: sans-serif;
  left: 5%;
}

.warning {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  z-index: 9999;
  justify-content: center;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(249, 180, 45);
  font-weight: bold;
  text-indent: 10px;
  position: fixed;
  bottom: 0;
  transition: all 2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.remove_button {
  color: black;
  font-weight: 600;
  font-size: 1.2em;
  background: none;
  border: none;
}

.remove_button:after {
  display: inline-block;
  content: "\00d7";
}

button,
a:hover {
  cursor: pointer;
}

.remove_class {
  transition: opacity 1.5s ease-out;
  opacity: 0;
}

.loader {
  border: 2vw solid rgba(243, 243, 243, 0.8);
  border-radius: 50%;
  border-top: 2vw solid rgba(128, 128, 128, 0.9);
  width: 20vw;
  height: 20vw;
  animation: rotate 1.5s linear infinite;
}

.small_loader {
  border: 0.4vw solid rgba(243, 243, 243, 0.8);
  border-radius: 50%;
  border-top: 0.4vw solid rgba(128, 128, 128, 0.9);
  width: 2vw;
  height: 2vw;
  animation: rotate 1.5s linear infinite;
  position: absolute;
  top: 1.5vh;
  right: 10vw;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


